<h1 class="page-headline">Articles Listing</h1>

<% @articles.each do |content| %>
  <section class="row">
    <div class="col-10 offset-1">
      <div class="article-title">
        <%= link_to content.title, article_path(content) %>
      </div>
      <div class="article-body">
        <%= truncate(content.body, length: 100) %>
      </div>
      <small class="article-meta-details">
        Created by: <%= content.user.username if content.user %>,
        <%= time_ago_in_words(content.created_at) %> ago &nbsp;
        last updated: <%= time_ago_in_words(content.updated_at) %> ago
      </small>
      <div class="col-6 offset-3 link-ops">
        <%= link_to 'Edit this Article', edit_article_path(content) %> &nbsp; &nbsp;
        <%= link_to 'Delete this article', article_path(content), method: :delete, data: {confirm: 'Are you sure you want to delete the article?'} %>
      </div>
    </div><!-- end cols -->
  </section><!-- end row -->
<% end %>
<br>
<%= link_to 'Home Page', root_path %>
