<h2 class="page-headline"><%= @article.title %></h2>

<div class="col-8 offset-2">
  <% if @article.user %>
    <ul class="listing">
      <div class="row">
        <div class="col-6 offset-3" align="center">
          <li class="articles-grav-img"><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li>
            <%= link_to @article.user.username, user_path(@article.user), class:"bloglist-user" %>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
  <div class="article-show-body-box">
    <p class="articles-show-body">
      <%= simple_format(@article.body) %>
      <% if @article.categories.any? %>
        <p class="articlesshow-rendercategory">
          Categories: <%= render @article.categories %>
        </P>
      <% end %>
    </p>
  </div>
</div>

  <div class="col-8 offset-2 link-ops">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to 'Edit this Article', edit_article_path(@article), class:"btn btn-sm center-btn" %> &nbsp; &nbsp;
      <%= link_to 'Delete this article', article_path(@article), method: :delete, data: {confirm: 'Are you sure you want to delete the article?'}, class:"btn btn-sm center-btn" %> &nbsp; &nbsp;
      <%= link_to 'Back to All Articles', articles_path, class:"btn btn-sm center-btn" %>
    <% else %>
    <div>
      <%= link_to 'Back to All Articles', articles_path, class:"btn btn-md center-btn" %>
    </div>
    <% end %>

  </div>
