<h2 class="page-headline"><%= @article.title %></h2>

<div class="col-8 offset-2">
  <% if @article.user %>
    <ul class="listing">
      <div class="row">
        <div class="col-6 offset-3" align="center">
          <li class="bloglist-img"><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="user-border">
            <%= link_to @article.user.username, user_path(@article.user), class:"bloglist-user" %>
          </li>
          <li class="bloglist-articles"><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></li>
        </div>
      </div>
    </ul>
    <% end %>
  <%= simple_format(@article.body) %>
</div>

<div class="col-6 offset-3 link-ops">
  <%= link_to 'Edit this Article', edit_article_path(@article) %> &nbsp; &nbsp;
  <%= link_to 'Back to Articles Listing', articles_path %> &nbsp; &nbsp;
  <%= link_to 'Delete this article', article_path(@article), method: :delete, data: {confirm: 'Are you sure you want to delete the article?'} %>
</div>
