<h2 class="page-headline"><%= @article.title %></h2>

<div class="well col-8 offset-2">
  <hr>
  <%= simple_format(@article.body) %>
</div>

<div class="col-6 offset-3 link-ops">
  <%= link_to 'Edit this Article', edit_article_path(@article) %> &nbsp; &nbsp;
  <%= link_to 'Back to Articles Listing', articles_path %> &nbsp; &nbsp;
  <%= link_to 'Delete this article', article_path(@article), method: :delete, data: {confirm: 'Are you sure you want to delete the article?'} %>
</div>
